<%- include("includes/head.ejs") %>

<body>
  <h1>Dice gave value:
    <%= diceval %>
  </h1>
  <% if(diceval==6){ %>
    <h3>Nice! Roll Dice again</h3>
  <% } %>
  <%- include("includes/footer.ejs") %>
</body>
</html>